@charset "UTF-8";
table {
    width: 90%;
    border-collapse: collapse;
    font-size: 12px;
}
table td {
    border: 1px solid #ddd;
    padding: 6px;
    background-color:red;
    color:white;
}
table th {
    background-color: #F2F2F2;
}