<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link th:href="@{/css/list.css}" rel="stylesheet">
</head>
<body>
	<h2>商品一覧</h2>
	<a th:href="@{/item/newItemInput}">商品投稿</a>
	<a th:href="@{/item/itemBox}">買い物かご</a>
	<div th:text=${caveat}></div>
	<table>
		<thead>
            <tr>
                <th>ID</th>
                <th>商品名</th>
                <th>価格</th>
                <th>説明</th>
                <th>個数</th>
                <th>詳細ページ</th>
                <th>買い物かごへ</th>
            </tr>
		<tr th:each="item, status:${items}">
			
			<td th:text="${item.id}"></td>
			<td th:text="${item.name}"></td>
			<td th:text="${item.price}"></td>
			<td th:text="${item.text}"></td>
			<td th:text="${item.quantity}"></td>
			<td>
				<a th:href="@{/item/show/}+${item.id}">詳細</a>
			</td>
			<td>
				<form method="post" th:action="@{/item/itemBox/add}">
					<input type="hidden" name="id" th:value="${item.id}">
					<input type="hidden" name="name" th:value="${item.name}">
					<input type="hidden" name="price" th:value="${item.price}">
					<input type="hidden" name="text" th:value="${item.text}">
					<input type="hidden" name="quantity" th:value="${item.quantity}">
					<select name="purchaseQuantity">
						<option value="" selected>選択してください</option>
						<option th:each="i : ${#numbers.sequence(0, item.quantity)}"
						 th:value="${i}" th:text="${i}"  ></option>
					</select>
					<input type="submit" value="買い物かごに入れる">
				</form>
			</td>	
		</tr>
	</table>
</body>
</html>