<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<body>
	<h2>商品一覧</h2>
	<a th:href="@{/item/newItemInput}">商品投稿</a>
	<a th:href="@{/item/index}">戻る</a>
	<table>
		<thead>
            <tr>
                <th>ID</th>
                <th>商品名</th>
                <th>価格</th>
                <th>説明</th>
                <th>個数</th>
                <th>詳細ページ</th>
                <th>買い物かごから外す</th>
            </tr>
		<tr th:each="item, status :${session.baskes}">
			<td th:text="${item.id}"></td>
		    <td th:text="${item.name}"></td>
			<td th:text="${item.price}"></td>
			<td th:text="${item.text}"></td>
			<td th:text="${item.quantity}"></td>
			<td>
				<a th:href="@{/item/show/}+${item.id}">詳細</a>
			</td>
			<td>
				<form method="post" th:action="@{/item/itemBox/remove/}+${status.index}">
					<input type="submit" value="買い物かごから外す">
				</form>
			</td>	
		
	</table>
</body>
</html>